.profile {
    padding: 12% 0 0;
    display: block;
    text-align: center;
    justify-content: center;
}

@media screen and (min-width: 767px) {
    .profile {
        padding: 3% 0 0;
        width: 76%;
        margin: 0 auto;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .profile {
        width: 880px;
        padding: 3.6% 0 0;
    }
}

@media screen and (min-width: 1280px) {
    .profile {
        padding: 2.9% 0 0;
    }
}


