.card__description {
    margin: 0 auto;
    padding: 21px 0 24px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    width: 238px;
    align-items: center;
}