.popup__close {
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    background: no-repeat transparent center url("../../../images/close_icon.svg");
    background-size: cover;
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    align-items: flex-end;
    position: absolute;
    top: 80px;
    right: 5px;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .popup__close {
        width: 35px;
        height: 35px;
        top: 240px;
        right: -38px;
    }
}
