.footer__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    padding: 15% 0 11.3% 6%;
    margin: 0;
}

@media screen and (min-width: 767px) {
    .footer__description {
        padding: 9.5% 0 7%;
    }
}

@media screen and (min-width: 1024px) {
    .footer__description {
        padding: 7.3% 0 6.5%;
    }
}

@media screen and (min-width: 1280px) {
    .footer__description {
        padding: 71px 0 60px;
        font-size: 18px;
        line-height: 22px;
    }
}

