.popup__item {
    width: 238px;
    margin: 0 0 45px;
    padding: 13px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.popup__item::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 238px;
    font-style: normal;
    font-weight: 400;
}

.popup__item:nth-of-type(1) {
    margin: 55px 0 15px;
}

.popup__item::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 238px;
    font-style: normal;
    font-weight: 400;
}

.popup__item::-moz-placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 238px;
    font-style: normal;
    font-weight: 400;
}

.popup__item:-moz-placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 238px;
    font-style: normal;
    font-weight: 400;
}

.popup__item:-ms-input-placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 238px;
    font-style: normal;
    font-weight: 400;
}

@media screen and (min-width: 1024px) {
    .popup__item {
        width: 358px;
        margin: 0 0 48px;
    }

    .popup__item:nth-of-type(1) {
        margin: 48px 0 15px;
    }
}