.profile__redactor {
}

@media screen and (min-width: 767px) {
    .profile__redactor {
        min-width: 336px;
        padding-left: 15px;
    }
}

@media screen and (min-width: 1280px) {
    .profile__redactor {
        padding-left: 25px;
    }
}